/temp/
*.log
poms/aggregators/
poms/**/.settings/
poms/**/target/
poms/**/tests/
poms/**/src/test/
poms/**/src/main/assemblies/
poms/**/src/main/bundle-resources/
poms/**/src/main/ext-resources/
poms/**/src/main/items/
poms/**/src/main/java/
poms/**/src/main/resources/
poms/**/src/main/templates/*.properties
poms/**/*.classpath
poms/**/*.project
poms/**/*.bak
poms/**/*.log
